<div class="sidebar" data-color="black" data-active-color="danger">
	<div class="logo">
		<a href="https://www.creative-tim.com" class="simple-text logo-mini">
		</a>
		<a href="https://www.creative-tim.com" class="simple-text logo-normal">
			Smarthome
		</a>
	</div>
	<div class="sidebar-wrapper">
		<ul class="nav">
			
			<li routerLink="/admin/devices" routerLinkActive="active">
				<a>
					<!-- <i class="nc-icon nc-settings"></i> -->
					<i class="fas fa-laptop-house"></i>
					<p>Devices</p>
				</a>
			</li>

			<li>
				<a href="./dashboard.html">
					<!-- <i class="nc-icon nc-single-02"></i> -->
					<i class="fas fa-users-cog"></i>
					<p>Users</p>
				</a>
			</li>

		</ul>
	</div>
</div>