<div class="sidebar" data-color="black" data-active-color="danger">
	<div class="logo">
		<a href="https://www.creative-tim.com" class="simple-text logo-mini">
			<!-- <div class="logo-image-small">
				<img src="../assets/img/logo-small.png">
			</div> -->
		</a>
		<a href="https://www.creative-tim.com" class="simple-text logo-normal">
			Smarthome
		</a>
	</div>
	<div class="sidebar-wrapper">
		<ul class="nav">
			
			<li class="active ">
				<a href="./dashboard.html">
					<i class="nc-icon nc-settings"></i>
					<p>Devices</p>
				</a>
			</li>

			<li>
				<a href="./dashboard.html">
					<i class="nc-icon nc-single-02"></i>
					<p>Users</p>
				</a>
			</li>

		</ul>
	</div>
</div>