<div class="card">
	<div class="card-header">
		<h4 class="card-title">New device</h4>
		<button class="btn btn-sm btn-primary" (click)="discover()">
			Scan network
		</button>
	</div>

	<div class="card-body">
		<form>
			
			<div class="form-group">
				<label for="device-uid">Name</label>
				<input type="text" class="form-control" id="device-name" placeholder="Ex. 2" />
			</div>

			<div class="form-group">
				<label for="device-type">Type</label>
				<input type="text" class="form-control" id="device-type" placeholder="Ex. Yeelight" />
			</div>

			<div class="form-group">
				<label for="device-name">Name</label>
				<input type="text" class="form-control" id="device-name" placeholder="Ex. Bedroom light" />
			</div>

			<div class="form-group">
				<label for="device-ip">IP</label>
				<input type="text" class="form-control" id="device-ip" placeholder="Ex. 192.168.0.12" />
			</div>

			<div class="form-group">
				<label for="device-port">Port</label>
				<input type="text" class="form-control" id="device-port" placeholder="Ex. 5049" />
			</div>

		</form>
	</div>
</div>