<div class="col-lg-4 col-md-6 ml-auto mr-auto">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
		<div class="card card-login">
			
			<div class="card-header">
				<div class="card-header">
					<h3 class="header text-center">Login</h3>
				</div>
			</div>

			<div class="card-body ">
				<div class="input-group" [ngClass]="{'has-danger': submitted && fields.username.errors }">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-user"></i>
						</span>
					</div>
					<input type="text" formControlName="username" class="form-control" placeholder="Name">
				</div>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-key"></i>
						</span>
					</div>
					<input type="password" formControlName="password" placeholder="Password" class="form-control">
				</div>
				<br>
				<div class="form-group">
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" value="" checked="">
							<span class="form-check-sign"></span>
							Remember me
						</label>
					</div>
				</div>
			</div>

			<div class="card-footer">
				<button class="btn btn-warning btn-round btn-block mb-3">
					Go !
				</button>
			</div>

		</div>
	</form>
</div>