.home {
	
	.container {
		max-width: 960px;
	}

	header.navbar {
		background-color: transparent !important;

		li {
			.user-label {
				opacity: .5;
				text-transform: uppercase;
				color: #FFFFFF;
				line-height: 2.6em;
				margin-right: 20px;
			}

			.fas {
				font-size: 20px;
			}

			a {
				opacity: .5;
				transition: opacity .15s ease-in-out;

				&:hover {
					color: #FFFFFF;
					opacity: .9;
				}
			}
		}
	}

}